@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Lato);

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5em
}

hr {
	width: 500px;
}

h1 {
	color: #000;
	font-size: 56px;
	font-family: 'Averia Serif Libre', cursive;
}

h3 {
	font-family: 'Averia Serif Libre', cursive;
	color: #8A730A;
	text-align: center;
	font-variant: small-caps;
	font-size: 36px;
}

#slogan {
	font-style: italic;
	color: #000;
	font-size: 36px;
	text-align: justify-all;
}

#intro {
	background-image: url(../images/rawr.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em;
	height: 25em;
	font-size: 20px;
}
#overview {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #FFF 
	font-size: 28px;
}

#services {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
	background-color: #E2F5FF
}

#blog {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.container {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #E2F5FF
	min-height: 100%;
}

.column{
	float: left;
	width: 25%
}

.column-left {
	float: left; width: 33%
}

.column-center {
	display: inline-block; width: 33%
}

.column-right {
	float: right; width: 33%
}
