body {
	background-image: url(/images/rawr.jpg);
	background-size: cover;
	color: #000;
	font-family: Palatino;
	text-align: center;
}

hr {
	width: 500px
}

h1 {
	color: #8A730A;
}

h3 {
	color: #8A730A;
}

#slogan {
	font-style: italic;
	color: #8A730A;
}

ul {
	text-align: center;
	list-style-type: none;
	font-weight: bold;
}